body {
    background-color: rgb(235, 238, 144);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 10px solid rgb(225, 141, 225);
    color: rgb(248, 83, 0);
    padding: 10px 10px 10px 30px;
    font-size: 47px;
    font-weight: bold;
}

.recipe {
    font-size: 30px;
    padding-left: 60px;
    font-family: Garamond, serif;
    color: black;
    font-weight: bold;
}

.recipe li {
    margin-bottom: 20px;
}

.recipe a {
    color: black;
}

.header-link {
    text-decoration: none;
    font-size: 20px;
}